<div class="text-center">
    <h1 class="display-4">Welcome to the Fancy Calculator</h1>
    <br />
    <br />
    <form class="text-left" method="post">
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" name="username" placeholder="Enter username here" />
        </div>
        <button class="btn btn-primary" type="submit">Go to Calculator</button>
    </form>

</div>